<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
						  xmlns:tx="http://www.springframework.org/schema/tx">


	<!-- 扫描 -->
     <context:component-scan base-package="gdut"></context:component-scan>   
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db">
		</property>
		
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- 向控制台显示执行的SQL语句 -->
				  <prop key="hibernate.show_sql">true</prop>
				  <!-- 创建SessionFactory对象时自动创建数据库表 -->
				  <prop key="hibernate.hbm2ddl.auto">update</prop>
				  <!-- 取消bean校验 -->
				  <prop key="javax.persistence.validation.mode">none</prop>
				  <prop key="hibernate.current_session_context_class">thread</prop>
				  <prop key=""></prop>
			</props>
			
		</property>
		<property name="packagesToScan">
            <list>
                <value>gdut.po</value>
            </list>
        </property>
		<property name="mappingResources">
			<list>
				<value>gdut/po/User.hbm.xml</value>
				<value>gdut/po/Article.hbm.xml</value>
				<value>gdut/po/Reply.hbm.xml</value>
				<value>gdut/po/Top.hbm.xml</value>
				</list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- dao bean 注入 -->
	<bean id="iUserDao" class="gdut.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<!-- service bean 注入 -->
	<bean id="iUserService" class="gdut.service.impl.UserServiceImpl">
		<property name="iUserDao" ref="iUserDao"></property>
	</bean>
	<!-- action bean 注入 -->
	<bean id="UserAction" class="gdut.action.UserAction">
		<property name="iUserService" ref="iUserService"></property>
	</bean>
	
	
	<!-- 
		<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	
	
	
	
	<bean>
		
	</bean>
	-->
	
	
	
</beans>
	 